@import "tailwindcss";

:root {
  --background: #00df08;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "MS Gothic", "ＭＳ ゴシック", "Yu Gothic", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, "Noto Sans JP",
    "Noto Sans CJK JP", Arial, Helvetica, sans-serif;
}
